:root {
  --primary-color: #1a1b21;
  --color-white: #FFFFFF;
  --color-offWhite: #f5f5f5;
  --color-skyBlue:#5093e2;
  --color-offBlue:#d1d5db;
  --color-brown:#f3bf99;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  background-color: #23252c;
  width: 550px;
  padding: 44px 0;
}

.container .main {
  margin: 0 auto;
  width: 317px;
  background: var(--primary-color);
  border-radius: 25px;
}

.info-container img {
  width: 317px;
  height: 317px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 10%;
     object-position: 0 10%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.info-container h2 {
  margin-top: 21px;
  color: var(--color-white);
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.info-container p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: var(--color-brown);
  margin-top: 6px;
}

.info-container h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: var(--color-offWhite);
  margin-top: 9px;
}

.info-container .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-container .button button {
  margin: 0 1em;
  margin-top: 15px;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  cursor: pointer;
}

button.mail {
  border: 1px solid var(--color-offBlue);
  background-color: var(--color-white);
}

button.mail:hover {
  background-color: var(--color-offBlue);
  color: var(--color-white);
}

button.linkedin {
  background: var(--color-skyBlue);
  border: 1px solid var(--color-skyBlue);
  color: var(--color-white);
}

button.linkedin:hover {
  background: var(--color-white);
  border: 1px solid var(--color-skyBlue);
  color: var(--color-skyBlue);
}

.about,
.interest {
  width: 317px;
  background: var(--primary-color);
  color: var(--color-white);
  margin: 0 auto;
  width: 247px;
}

.about h3,
.interest h3 {
  padding-top: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}

.about p,
.interest p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  color: #dcdcdc;
}

.footer {
  height: 64px;
  margin: 0 auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #161619;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.footer img {
  margin: 0 1em;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */